html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

webview {
  display: block; /* iframes are inline by default */
  border: none; /* Reset default border */
  height: 80vh; /* Viewport-relative units */
  width: 95vw;
}
